.container
  .row
    %h3 Users
    .column
      %table.table
        %tbody
          - @users.each do |user|
            - unless user == current_user
              %tr
                = render user
