- content_for :title do
  About
%h3 Mission Statement:
%p
We believe in providing youth the skills and education to take action and create their own media. Media that addresses issues that effect them, that voice their stories, and that reflect their identities and cultures.  We believe in using media and digital arts as a tool for expression, empowerment, and social change, where the youth are centered in the production and educational process.
