= simple_form_for @medium, :html => { :class => 'form-horizontal' } do |f|
  = f.text_area :context,:class => "redactor", :rows => 40, :cols => 120
  / = f.input :user_id
  / = f.input :token
  / = f.input :week_session_id
  / = f.input :due_date
  .form-actions
    = f.button :submit, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), media_path, :class => 'btn'
